/* STYLE.CSS */

@font-face {
	font-family: zardySparta;
	src: url(../assets/fonts/LeagueSparta.otf);
}

/* General */

body {
	width: 100vw;
	height: 100vh;
	font-family: zardySparta;
}

h1 {
	font-size: 250%;
	text-align: center;
	padding: 5px;
}

.connectAlert, .loggedInfo {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: calc(100vw - 20px); /* because padding */
	border-bottom: 1px solid black;
	box-shadow: 0px 5px 10px lightgray;
	padding: 10px;
	z-index: 30;
	background-color: white;
}

.connectAlert p {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}

.underTitleBlueBar {
	border: 1px solid darkblue;
	width: 150px;
	height: 1px;
}


/* createUser && connexion */

#createForm,
#loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%
}

#createForm form,
#loginForm form {
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#createForm form .createFormGroup,
#loginForm form .loginFormGroup {
	margin-bottom: 5px;
	margin-top: 5px;
}

#createForm form .createFormGroup label,
#loginForm form .loginFormGroup label {
	width: 50%;
}

#createForm form .createFormGroup input,
#loginForm form .loginFormGroup input {
	width: 50%;
	margin-left: 10px;
	border: none;
	border-left: 2px solid gray;
	padding-left: 10px;
	font-size: 100%;
}

#createForm form .createFormGroup button,
#loginForm form .loginFormGroup button {
	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
}

.formLinks {
	position: fixed;
	bottom: 0;
	padding: 10px;
	min-width: calc(100vw - 20px);
	text-align: center;
}

/* APP side */

.loggedInfo {
	position: static;
	flex-direction: column;
	font-size: 120%;
	margin-bottom: 23px;
	box-shadow: none;
}

.loggedInfoUsername {
	color: darkblue;
	font-style: italic;
}

.loggedInfo p.loggedFirstLine { /* "Connected as :" */
	text-align: center;
}

.loggedInfo p.logoutLink {
	text-align: right;
	width: 100%;
	font-size: 80%;
}

/* APP content */

#foodSelectorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 120px;
}

#foodSelectorTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#foodSelectorContent {
	width: 100%;
	margin-top: 30px;
}

.foodItem {
	text-align: center;
	padding: 4px;
	margin: 5px;
}

.foodSelected {
	background-color: lightgray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	padding: 3px;
}

/* Info Display */

div#infoDisplayContainer p span#infoDisplayTotalFood,
div#infoDisplayContainer p span#infoDisplayTotalGL {
	color: darkred;
}

#infoDisplayContainer {
	position: fixed;
	bottom: 0;
	background-color: white;
	border-top: 1px solid black;
	min-width: calc(100vw - 20px);
	padding: 10px;
	box-shadow: 0px -3px 10px lightgray;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#infoDisplayContainer #infoDisplayDoneBtn {
	padding: 5px;
	border: 1px solid black;
	text-align: center;
	width: 80%;
	max-width: 300px;
	box-shadow: 1px 3px 10px gray;
}

#infoDisplayContainer #infoDisplayDoneBtn:active {
	box-shadow: none;
	position: relative;
	top: 1px;
}

/* End App Screen */

div#endAppScreen {
	display: none;
	flex-direction: column;
	align-items: center;

	padding: 20px;
	width: calc(100vw - 40px);
	height: calc(100vh - 400px);

	background-color: white;
}

p#endAppGLindic {
	margin-bottom: 10px;
}

span#endAppTotalGL {
	color: darkred;
}

p#endAppConclusion {
	font-size: 180%;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

a#endAppSpecialistCall {
	color: darkblue;
	margin-bottom: 30px
}